body {
  background-color: #f3f3f3;
  font-family: Verdana, sans-serif;
  background: url("lake.jpg") bottom center no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
  color: #1f220f;
}

.text-center {
  text-align: center;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.main {
  background-color: rgba(255, 255, 255, 0.4);
  width: 80%;
  margin: 0 auto;
  @media (min-width 500px) {
    width: 50%;
  }
}

h1 {
  margin-top: 2.5em;
  padding-top: 1em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1.5em;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.btn:hover {
  box-shadow: 1px 1px 5px 3px rgba(63, 123, 123, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #346F69;
  margin-bottom: 1rem;
}

h3 {
  display: inline-block;
  font-size: 1.5em;
  margin: 0.5em;
}
